{{!-- <main id="main" class="main"> --}}

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
{{!-- class="section dashboard" --}}
    <section >

          <div class="card">
            <div class="card-body">
                <a class="btn btn-outline-warning btn-sm float-end my-2" href="/admin/testimonial/create">Create</a>

              <!-- Dark Table -->
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Details</th>
                     <th scope="col">designation</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
              <tbody>
                 {{#each testimonial}}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{name}}</td>
                    <td>{{details}}</td>
                    <td>{{designation}}</td>
                    <td>
                      <img src="/{{image}}" alt="tanzila" width="50px">
                    </td>
                    <td>
                        <a href="/admin/testimonial/{{id}}/show" class="btn btn-outline-info btn-sm">Show</a>
                        <a href="/admin/testimonial/{{id}}/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="/admin/testimonial/{{id}}/delete" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                  </tr>
                   
                  {{/each}}
                </tbody>
              </table>
              <!-- End Dark Table -->

            </div>
          </div>
    </section>
{{!-- </main> --}}